body{
    margin: 0;
    background-color: whitesmoke;
}

.container{
    position: relative;
    transition:2s;
    opacity:0.9;
}

.text_att{
    position: absolute;
    margin:20.5% 0% 0% 8%;
    font-size:2.9vw;
    text-shadow: 0.1vw 0.1vw black;
    font-family: 'Black Han Sans', sans-serif;
}

.text_res{
    position: absolute;
    margin:25.5% 0% 0% 29.1%;
    font-size:2.9vw;
    text-shadow: 0.1vw 0.1vw black;
    font-family: 'Black Han Sans', sans-serif;
}

.text_hot{
    position: absolute;
    margin:25.5% 0% 0% 56.1%;
    font-size:2.9vw;
    text-shadow: 0.1vw 0.1vw black;
    font-family: 'Black Han Sans', sans-serif;
}

.text_visa{
    position: absolute;
    margin:20.5% 0% 0% 79.5%;
    font-size:2.9vw;
    text-shadow: 0.1vw 0.1vw black;
    font-family: 'Black Han Sans', sans-serif;
}

a{
    color: snow;
    text-decoration: none;
}
.att{
    width:20%;
    border-radius:100%;
    box-shadow:0px 2px black;
    margin: 5% 0% 0% 7%;
    float: left;
    transition:2s;
}

.rest{
    width:20%;
    border-radius:100%;
    box-shadow:0px 2px black;
    margin: 10% 0% 0% 2%;
    float: left;
    transition:2s;   
}

.visa{
    width:20%;
    border-radius:100%;
    box-shadow:0px 2px black;
    margin: 5% 0% 0% 2%;
    float: left;
    transition:2s;
}

#h_att{
    padding: 10% 0% 10% 0%;
}

.top{
    width: 100%;
    padding: 5% 0% 2% 0%;
    background-color: brown;
    border-radius:0% 0% 100% 100%;
    float: left;
    background:linear-gradient(180deg, brown, black 500%);
}


.hot{
    width:20%;
    border-radius: 100%;
    box-shadow:0px 2px black;
    margin: 10% 0% 0% 2%;
    float: left;
    transition:2s;
}


.bottom{
    width: 100%;
    padding: 5% 0% 2% 0%;
    margin: 6.71% 0% 0% 0%;
    background-color: brown;
    border-radius:100% 100% 0% 0%;
    float: left;
    background:linear-gradient(180deg, brown, black 500%);
}

.container:hover{
    transform:translateY(-10px);
}

a:visited{
    text-decoration: none;
    color:snow;
}
